<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />   
    
</head>
<body>
    <nav class="topnav">
        <ul>
            <li><a class="active" href="@Url.Action("Index", "Home")"><i class="fa fa-fw fa-home"></i>Startside</a></li>
            <li><a href="@Url.Action("Index", "News")"><i class="fa fa-newspaper-o"></i> Nyheder</a></li>

            @if (User.Identity.IsAuthenticated)
            {
                <li><a href="@Url.Action("Index", "Forum")"><i class="glyphicon glyphicon-pencil"></i> Forum</a></li>
                <form id="logout" action="@Url.Action("Logout", "Login")" method="POST">
                    <a href="javascript: $('#logout').submit()" class="last">
                        Log ud
                        <br /><span class="tagline">@User.Identity.Name</span>
                    </a>
                </form>
            }
            else
            {
                <li id="Login"><a href="@Url.Action("Login", "Login")"><i class="fa fa-fw fa-user"></i>Log ind</a></li>
            }
            <li id="Info"><a href="@Url.Action("Index", "Info")"><i class="fa fa-fw fa-user"></i>Info</a></li>
        </ul>
    </nav>
    <div class="maincontainer">
        @RenderBody()
    </div>
</body>
</html>