@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@inject DemensProjekt.Models.FormattingService Format
@model DemensProjekt.Models.Post

@{

}

<article class="forum-post">
    <h2>@Model.Title</h2>
    <div class="details">
        Posted <span>@Format.AsReadableDate(Model.Posted)</span> by <span>@Model.Author</span>
    </div>
    <div class="content">
        @Model.Body
    </div>

    @*<a href="#" class="show-comments">Vis Kommentarer</a>
    <div class="comments-container hide">*@
        <h3>Kommentarer</h3>
        <div class="comments">
            @foreach (var comment in Model.Comments)
            {
                <hr>
                <p>@comment.Body</p>
                <form asp-action="UpdateComment" asp-controller="Forum" >
                    <input type="hidden" name="commentId" value="@comment.CommentId"/>
                    <input type="submit" value="Rediger Kommentar"/>                  
                </form>
                <form asp-action="DeleteComment" asp-controller="Forum" >
                    <input type="hidden" name="commentId" value="@comment.CommentId"/>
                    <input type="submit" value="Slet Kommentar"/>                  
                </form>
           }
        </div>
        <hr />
        <div>
            <a href="#" class="add-comment">Tilføj en kommentar</a>
            
            <div class="new-comment hide">
                <partial name="_CreateComment" model="@new DemensProjekt.Models.Comment() {PostId = Model.PostId}" />
            </div>
        </div>
    @*</div>*@
</article>